{% extends 'index.html' %}

{% block content %}
    <h2>Lista de Citas Médicas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Veterinario</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in lista %}
                <tr>
                    <td>{{ cita.fecha }}</td>
                    <td>{{ cita.hora }}</td>
                    <td>{{ cita.veterinario }}</td>
                    <td>{{ cita.descripcion }}</td>
                    <td>
                        <a href="{% url 'EditarCita' cita.id %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'EliminarCita' cita.id %}" onclick="return confirm('¿Estás seguro de eliminar la cita?');">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No hay citas médicas registradas.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}